@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
@mixin image-fit() {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@mixin centered() {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin absolute-link() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
